body {
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

#menu li > a {
    font-size: 18px;
    font-weight: 200;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: 200;
}

.carousel-inner {
    max-height: 39rem;
}

@media (max-width:768px) {
    #intro, #equipo {
        width: 90% !important;
    }
    #equipo p {
        display: none;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}